<form action="<%= secrets_url %>" method="post">
  <%= auth %>
  <input type="hidden"
         name="secret[recipient_id]"
         value="<%= @recipient_id %>">

  <input type="hidden"
         name="secret[author_id]"
         value="<%= current_user.id %>">

  <input type="text"
         name="secret[title]"
         value="<%= @secret.title %>"><br>

  <button>Post a secret, you sly guy.</button>
</form>